body { 
    background-color: rgb(224, 237, 253);
    text-align:  center;
}

p{
     font-size:125%  ;
}

h1{
    font-style:oblique ;

}li { 
    font-style: italic;
}

h3{
    font-size: 175%;
    color: blue;
}

.imagem{
    size: 1000px;
}