body { 
    text-align: center;
}

p{
     font-size:140%  ;
}

h1{
    font-family: fantasy;

}
li { 
    font-style: italic;
    font-size: 130%;
}

h2{
    font-size: 200%;
    font-style: italic ;
}

h3{
    font-size: 175%;
    color: rgb(2, 2, 150);
}

.imagem{
    width: 40%;
    font-size: 130%;
}
.limpeza{
    width:35%;
}
section {
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Ffotos-premium%2Ffoto-aerea-do-equipamento-para-limpeza-isolado-no-fundo-azul-com-copyspace_27048226.htm&psig=AOvVaw1HzmVF_PdFWn_zHdk9mz11&ust=1729089240745000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPjTtcLNkIkDFQAAAAAdAAAAABAE);
}